In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('data/fake_job_postings.csv', index_col=[0])
df.sample(5)

,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
job_id,,,,,,,,,,,,,,,,,
8884,M1 Apprentice Office Administrator Under NAS 1...,"GB, MAN, Manchester",NaN,NaN,Established on the principles that full time e...,Government funding is only available for 16-18...,16-18 year olds only due to government funding...,Career prospects.,0,1,1,Full-time,Not Applicable,High School or equivalent,Human Resources,Administrative,0
17070,Title Closer,"US, FL, Tampa Bay",NaN,NaN,Network Closing Services has been serving Lend...,"Network Closing Services, Inc. is looking for ...",3-5 years Closer experienceMust have a client ...,Network Closing Services offers competitive pa...,0,1,1,Full-time,Mid-Senior level,High School or equivalent,Real Estate,NaN,0
15380,Supply Chain & Logistics Specialist,"US, FL, Fort Lauderdale",NaN,NaN,NaN,The supply-chain associate is responsible for ...,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN,0
8094,Customer Service Associate,"US, OR, Portland",NaN,NaN,"Novitex Enterprise Solutions, formerly Pitney ...",The Customer Service Associate will be based ...,Minimum Requirements:Minimum of 6 months custo...,NaN,0,1,0,Full-time,Entry level,High School or equivalent,Consumer Services,Customer Service,0
4234,Marketing Manager SEM France,"DE, BE, Berlin",Performance Marketing,NaN,Babbel enables anyone to learn languages in an...,Management and development of our search engin...,1+ year experience in online marketingStrong a...,Responsibility from day one in one of the key ...,0,1,1,Full-time,NaN,NaN,NaN,NaN,0